body {
    background: url(imgs/highway.jpg) center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background: transparent;
}

.jumbotron h1, .jumbotron p {
    text-align: center;
}

.alert-info {
    padding: 10px;
}
#map {
    margin: 20px auto;
    width:100%; 
    height:300px;
}

#output {
    padding: 10px;
    margin: 20px auto;
    width: 100%;
}